.carContainer {
    display: flex;
    flex-direction: row;
}

.number {
    margin-top: 18px;
    margin-left: 10px;
}

.logo {
    width: 30%;
}

.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}